<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/templates/CSS/apps/login.css">
  <link rel="stylesheet" href="/templates/CSS/apps/particles.css">
  <link rel="shortcut icon" href="/templates/images/src/PAG2.png" type="image/x-icon">
  <title>Login</title>
</head>

<body>
  <div id="particles-js">
  </div>
  <main>
    <header>

    </header>
   
    <section id="s0">
      <form id="login-form">
        <div>
          <h1>Inicio de sesión <br> base de datos</h1>
        </div>
        <div>
          <label for="username-field">Usuario</label><br>
          <input type="text" name="username" id="username-field" class="login-form-field">
        </div>
        <div>
          <label for="username-field">Contraseña</label><br>
          <input type="password" name="password" id="password-field" class="login-form-field">
        </div>
        <div>
          <input type="submit" value="Login" id="login-form-submit">
          <button id="button">Invitado</button>
        </div>
      </form>
    </section>
  </main>
</body>
<script src="/templates/js/app/login.js"></script>
<script src="/templates/js/app/main.js"></script>
<script src="/templates/js/app/particles.min.js"></script>
<script src="/templates/js/app/appParticles.js"></script>

</html>