* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@media only screen and (max-width: 1439px) {
    body {
        background-color: rgb(19, 25, 31);
        overflow-x: hidden;
        font-family: 'pirulen';
    }

    #s0 {
        width: 110vw;
        height: 15vh;
        background-color: rgba(184, 184, 184, 0.583);
        src: url(/templates/CSS/pirulen\ rg.otf);
        text-align: center;
        font-family: 'Pirulen';
        margin: auto;
        padding: 0;
    }

    #s0>h1 {
        position: relative;
        right: 5vw;
        top: 15%;
        font-size: 7vh;
        color: black;
        padding: auto;
        margin: auto;
    }

    #s0>h2 {
        position: relative;
        right: 5vw;
        top: 15%;
        font-size: 3.5vh;
        color: black;
        padding: auto;
        margin: auto;
    }

    #s1 {
        width: 110vw;
        background-color: rgb(255, 255, 255);
        height: 8vh;

        text-align: center;
        font-family: 'Pirulen';
        padding: 0;
        border-bottom: 1vh solid rgb(194, 127, 2);
    }

    #s1>h1 {
        position: relative;
        top: 10%;
        right: 5vw;
        font-size: 3vh;
        color: rgb(194, 127, 2);
        padding: 10px;
        margin: auto;
        padding-bottom: 2px;

    }

    .grid-container {
        background-color: rgba(255, 255, 255, 0);
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 0;
        padding: 20px;
        padding-bottom: 70px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.501);
        height: 49vh;
        width: 49vw;
        padding-left: 25px;
    }

    .imgs {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid-item>img {
        max-width: 48vw;
    }

    .grid-item>h2 {
        font-family: 'pirulen';
        position: relative;
        top: 5%;
        font-size: 5vh;
        color: black;
    }

    .grid-item>a {
        font-family: 'pirulen';
        position: relative;
        top: 75%;
        font-size: 2.5vh;
        color: black;
    }

    #bar {
        position: relative;
        top: 75%;
        width: 100%;
        height: 1vh;
        background-color: rgb(194, 127, 2);
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    #left {
        text-align: right;
    }
}

@media only screen and (min-width: 1440px) {
    body {
        background-color: rgb(19, 25, 31);
        overflow-x: hidden;
        font-family: 'pirulen';
    }

    #s0 {
        width: 110vw;
        height: 15vh;
        background-color: rgba(184, 184, 184, 0.583);
        src: url(/templates/CSS/pirulen\ rg.otf);
        text-align: center;
        font-family: 'Pirulen';
        margin: auto;
        padding: 0;
    }

    #s0>h1 {
        position: relative;
        right: 5vw;
        top: 15%;
        font-size: 7vh;
        color: black;
        padding: auto;
        margin: auto;
    }

    #s0>h2 {
        position: relative;
        right: 5vw;
        top: 15%;
        font-size: 3.5vh;
        color: black;
        padding: auto;
        margin: auto;
    }

    #s1 {
        width: 110vw;
        background-color: rgb(255, 255, 255);
        height: 8vh;

        text-align: center;
        font-family: 'Pirulen';
        padding: 0;
        border-bottom: 1vh solid rgb(194, 127, 2);
    }

    #s1>h1 {
        position: relative;
        top: 10%;
        right: 5vw;
        font-size: 3vh;
        color: rgb(194, 127, 2);
        padding: 10px;
        margin: auto;
        padding-bottom: 2px;

    }

    .grid-container {
        background-color: rgba(255, 255, 255, 0);
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 0;
        padding: 20px;
        padding-bottom: 70px;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.501);
        height: 49vh;
        width: 49vw;
        padding-left: 25px;
    }

    .imgs {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid-item>img {
        max-height: 45vh;
        max-width: 49vw;
    }

    .grid-item>h2 {
        font-family: 'pirulen';
        position: relative;
        top: 5%;
        font-size: 5vh;
        color: black;
    }

    .grid-item>a {
        font-family: 'pirulen';
        position: relative;
        top: 75%;
        font-size: 2.5vh;
        color: black;
    }

    #bar {
        position: relative;
        top: 75%;
        width: 100%;
        height: 1vh;
        background-color: rgb(194, 127, 2);
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }

    #left {
        text-align: right;
    }
}

@media only screen and (max-width: 760px) {
    body {
        background-color: rgb(19, 25, 31);
        overflow-x: hidden;
        font-family: 'pirulen';
    }

    #s0 {
        width: 110vw;
        height: 20vh;
        background-color: rgba(184, 184, 184, 0.583);
        src: url(/templates/CSS/pirulen\ rg.otf);
        text-align: center;
        font-family: 'Pirulen';
        margin: auto;
        padding: 0;
    }

    #s0>h1 {
        position: relative;
        right: 3vw;
        top: 35%;
        font-size: 7vw;
        color: black;
        padding: auto;
        margin: auto;
    }

    #s0>h2 {
        position: relative;
        right: 5vw;
        top: 35%;
        font-size: 5vw;
        color: black;
        padding: auto;
        margin: auto;
    }

    #s1 {
        width: 110vw;
        background-color: rgb(255, 255, 255);
        height: 8vh;

        text-align: center;
        font-family: 'Pirulen';
        padding: 0;
        border-bottom: 1vh solid rgb(194, 127, 2);
    }

    #s1>h1 {
        position: relative;
        top: 10%;
        right: 5vw;
        font-size: 3vh;
        color: rgb(194, 127, 2);
        padding: 10px;
        margin: auto;
        padding-bottom: 2px;

    }

    .grid-container {
        background-color: rgba(255, 255, 255, 0);
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        margin: 0;
        padding-left: 10px;
        box-sizing: border-box;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.501);
        height: 45vh;
        width: 100vw;
    }

    .imgs {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .grid-item>img {
        max-width: 100vw;
    }

    .grid-item>h2 {
        font-family: 'pirulen';
        position: relative;
        font-size: 5vh;
        color: black;
        padding-left: 25px;
    }

    .grid-item>a {
        font-family: 'pirulen';
        position: relative;
        top: 50%;
        font-size: 2.5vh;
        color: black;
        padding-left: 25px;
    }

    #bar {
    display: none;
    }

    .item2 {
        height: 25vh;
        border-bottom: 1vh solid rgb(194, 127, 2);
    }

    .item3 {
        grid-row: 4;
        height: 25vh;
        border-bottom: 1vh solid rgb(194, 127, 2);
    }

    .item6 {
        height: 25vh;
        border-bottom: 1vh solid rgb(194, 127, 2);
    }

    a:link {
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
    }
    #left{
        text-align: left;
    }
}