<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/templates/CSS/apps/navcarshop.css">
  <link rel="stylesheet" href="/templates/CSS/artshop.css">
  <link rel="shortcut icon" href="/templates/images/src/PAG2.png" type="image/x-icon">
  <title>Tienda</title>
</head>

<body>
  <header>

  </header>
  <main>
    <section id="s0">
      <a href="/templates/shop.html">Volver a la tienda</a>
    </section>
    <section id="s1">
 
    </section>
  </main>
  <input value="9" id="selector" style="display: none;">
</body>
<!-- <script src="/templates/js/app/copyright.js"></script> -->
<script src="/templates/js/data/prodList.json"></script>
<script src="/templates/js/app/main.js"></script>
<script src="/templates/js/app/carrito.js"></script>
<script src="/templates/js/app/navcarshop.js"></script>
<script src="/templates/js/app/artapp.js"></script>
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

</html>