<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/CSS/payPage.css">
    <link rel="shortcut icon" href="/templates/images/src/PAG2.png" type="image/x-icon">
    <title>Checkout</title>

</head>

<body>
    <header></header>
    <section id="s0">
        <table>
            <tr>
                <th class="producto1">Producto</th>
                <th class="cantidad1">Cantidad</th>
                <th class="subtotal1">Subtotal</th>
            </tr>
        </table>
        <button id="activarFuncion" style="display: none;">Procesar pedido</button>
        <div id="scrolling">
            <table id="tbody">


            </table>
        </div>
        <div id="costo-total">
            <table>
                <tr>
                    <td>Subtotal</td>
                    <td id="subtotalProceso"></td>
                </tr>
                <tr>
                    <td>IVA (21%)</td>
                    <td id="ivaProceso"></td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td id="totalProceso"></td>
                </tr>
            </table>
        </div>
        <div id="botones">
            <button id="pagar" onclick="togglePopup('s1');">Pagar</button>
            <button id="seguir-comprando"><a href="/templates/shop.html">Seguir comprando</a></button>
        </div>
        
    </section>
    <section id="s1" style="display: none;">
        <form id="procesar-pago" method="post">
            <p style="text-align: center;">Ingrese su nombre y correo a fin de que nos quede registrado como cliente y le podamos enviar su orden de
                compra para que posteriormente le enviemos la factura con el link de pago</p>
            <div class="cliente">
                <label for="cliente">Cliente :</label>
                <input type="text" name="persona" id="persona" placeholder="Ingresa Nombre del cliente">
            </div><br>
            <div class="field" style="display: none;">
                <label for="message">message</label>
                <textarea name="message" id="message" cols="1000" rows="1000"></textarea>
            </div><br>
            <div class="correo">
                <label for="reply_to">Correo :</label>
                <input type="text" name="reply_to" id="correo" id="reply_to">
            </div><br>
            <div class="button">
                <input type="submit" value="enviar" id="button">
            </div>
        </form>

    </section>

</body>
<script src="/templates/js/app/main.js"></script>
<script src="/templates/js/app/carrito.js"></script>
<script src="/templates/js/app/paypage.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script type="text/javascript">
    emailjs.init('PpM04qWp7EU_B3r1A')
</script>

</html>