* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(19, 25, 31);
    overflow-x: hidden;
}
#s0 {
    background-color: white;
}
#s0 .grid-container1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 25px 0 25px 0;
    margin: auto;
    font-family: 'pirulen';
}
#s0 .grid-container1 .grid-item1{
    margin: auto;
}
#s0 .grid-container1 .grid-item1 label{
    cursor: pointer;
}
.container{
    margin-top: 25px;
    background-color: rgba(255, 255, 255, 0.696);
}