<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showroom</title>
    <link rel="shortcut icon" href="/templates/images/src/PAG2.png" type="image/x-icon">
    <link rel="stylesheet" href="/templates/CSS/csw.css">
</head>
<body>
   
    <main>
        <div>

        </div>
        <section id="s0">
            <h1>Pagani</h1>
            <h2>Diseño e ingenieria</h2>
            <h2></h2>
        </section>
        <section id="s1">
            <h1>propuestas</h1>
        </section>
        <section id="s2">
            <div class="grid-container">
                <div class="grid-item imgs item1" id="left">
                    <img src="/templates/images/Filiere/HiResPhoto55_1 920-1 080.png" alt="" srcset="">
                </div>
                <div class="grid-item item2">
                    <h2>Filiere</h2>
                    <a href="/templates/cars/car1.html">Ver más</a>
                    <div id="bar"></div>
                </div>
                <div class="grid-item item3" id="left">
                    <h2>Lineas</h2>
                    <a href="/templates/cars/car2.html">Ver más</a>
                    <div id="bar"></div>
                </div>
                <div class="grid-item imgs item4">
                    <img src="/templates/images/Lineas/HiResPhoto78_1 920-1 080.png" alt="" srcset="">
                </div>
                <div class="grid-item imgs item5" id="left">
                    <img src="/templates/images/Iguana/s/HiResPhoto40_1 920-1 080.png" alt="" srcset="">
                </div>
                <div class="grid-item item6">
                    <h2>Iguana</h2>
                    <a href="/templates/cars/car3.html">Ver más</a>
                    <div id="bar"></div>
                </div>
            </div>
        </section>
        <section id="s3">
            
        </section>
    </main>
    
</body>
<script src="/templates/js/app/main.js"></script>
</html>