<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagani DI</title>
    <link rel="shortcut icon" href="/templates/images/src/PAG2.png" type="image/x-icon">
    <link rel="stylesheet" href="/templates/CSS/index.css">
</head>
<body>
    <main>
        <section id="s0">
            <h1>Pagani</h1>
            <h3>Estudio de diseño automotriz</h3>
        </section>
    </main>
</body>
<script src="/templates/js/app/main.js"></script>
<script src="/templates/js/app/copyright.js"></script>
</html>